<% content_for :heading, "#{@profile.full_name}" %>
<div class="control-group clearfix">
    <div class="pull-left">
        <%= image_tag @user.avatar.url(:medium), :class => "thumbnail text-center" %>
    </div>
    <div class="pull-left">
        <div class="display-item">
            Email address: <%=@profile.email%>
        </div>
        
        <% if @profile.gender.present?%>
            <div class="display-item">
                Gender: <%=@profile.gender %>
            </div>
        <% end %>
        
        <% if @profile.phone.present?%>
            <div class="display-item">
                Phone: <%=@profile.phone %>
            </div>
        <% end %>
        
        <% if @profile.full_address.present?%>
            <div class="display-item">
                Address : <a  href="http://maps.google.com?q=<%=@profile.full_address%>"><%=@profile.full_address%></a>
            </div>
        <% end %>
    
        <% if @profile.occupation.present?%>
            <div class="display-item">
                Occupation : <%=@profile.occupation %>
            </div>
        <% end %>        
    </div>
</div>

<div class="display-item">
  <%=@deals_count%> deals created
</div>
<div class="display-item">
    <%=@events_count %> events created
</div>

<div class="display-item">
    <%=@news_count %> news created 
</div>

<div class="display-item">
    <%=@videos_count %> videos uploaded 
</div>

<div class="display-item">
    <%=@uploads_count%> photos uploaded
</div>
