<% content_for :heading, "Edit your account" %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<%error=devise_errors%>
	<div class="form-item">
		<%=f.label :full_name%>
		<%=f.text_field :full_name, :autofocus => true, :class => "form-control"%>
		<% if error && error[:full_name].present? %>
			<div class="text-danger"><%=error[:full_name][0]%> </div>
		<%end%>
	</div>
	
	<div class="form-item"><%= f.label :email %>
		<%= f.email_field :email, :autofocus => true, :class => "form-control", :readonly => true %>
		<% if error && error[:email].present? %>
			<div class="text-danger"><%=error[:email][0]%> </div>
		<%end%>
	</div>
	
	<div class="form-item"><%= f.label :phone %>
		<%= f.email_field :phone, :autofocus => true, :class => "form-control" %>
		<% if error && error[:phone].present? %>
			<div class="text-danger"><%=error[:phone][0]%> </div>
		<%end%>
	</div>

	<div class="form-item"><%= f.label :street_address %>
		<%= f.email_field :street, :autofocus => true, :class => "form-control" %>
		<% if error && error[:street].present? %>
			<div class="text-danger"><%=error[:street][0]%> </div>
		<%end%>
	</div>
	
	<div class="form-item"><%= f.label :city %>
		<%= f.email_field :city, :autofocus => true, :class => "form-control" %>
		<% if error && error[:city].present? %>
			<div class="text-danger"><%=error[:city][0]%> </div>
		<%end%>
	</div>
	
	<div class="form-item"><%= f.label :zip %>
		<%= f.email_field :zip, :autofocus => true, :class => "form-control" %>
		<% if error && error[:zip].present? %>
			<div class="text-danger"><%=error[:zip][0]%> </div>
		<%end%>
	</div>
	
	<div class="form-item"><%= f.label :state %>
		<%= f.email_field :state, :autofocus => true, :class => "form-control" %>
		<% if error && error[:state].present? %>
			<div class="text-danger"><%=error[:state][0]%> </div>
		<%end%>
	</div>

	
	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	<div class="form-item">Currently waiting confirmation for: <%= resource.unconfirmed_email %>
	</div>
	<% end %>

	<div class="form-item">
		<%= f.label :new_password %>
		<%= f.password_field :password, :autocomplete => "off", :class => "form-control", :placeholder => "leave blank if you don't want to change it" %>
		<% if error && error[:password].present? %>
			<div class="text-danger"><%=error[:password][0]%> </div>
		<%end%>
	</div>

	<div class="form-item">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class => "form-control" %>
		<% if error && error[:password_confirmation].present? %>
			<div class="text-danger"><%=error[:password_confirmation][0]%> </div>
		<%end%>
	</div>

	<div class="form-item">
		<%= f.label :current_password %>
		<%= f.password_field :current_password, :class => "form-control", :placeholder => "we need your current password to confirm your changes" %>
		<% if error && error[:current_password].present? %>
			<div class="text-danger"><%=error[:current_password][0]%> </div>
		<%end%>
	</div>
	<div class="form-item">
		<div class="control-group clearfix">
			<div class="pull-left">
				<%= button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger btn-sm" %>
			</div>
			<div class="pull-right">
				<%= f.submit "Update", :class => "btn btn-info" %>
			</div>
		</div>
	</div>
	<% end %>

