<div class="row four-section">
	<div class="col-xs-6 col-sm-3">
		<a href="<%=deals_path%>">
		<div class="jumbotron text-center">
			<i class="fa fa-thumbs-up fa-3x"></i>
			<div class="description">
				Deals
			</div>
		</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-3">
		<a href="<%=events_path%>">
		<div class="jumbotron text-center">
			<i class="fa fa-calendar fa-3x" style="color:#FA811E;"></i>
			<div class="description">
				What to do
			</div>
		</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-3">
		<a href="<%=news_index_path%>">
		<div class="jumbotron text-center">
			<i class="fa fa-info-circle fa-3x" style="color:#AC2BED"></i>
			<div class="description">
				News
			</div>
		</div>
		</a>
	</div>
	<div class="col-xs-6 col-sm-3">
		<a href="<%=videos_path%>">
		<div class="jumbotron text-center">
			<i class="fa fa-youtube-play fa-3x" style="color:#b31217;"></i>
			<div class="description">
				Videos
			</div>
		</div>
		</a>
	</div>
</div>
<div class="round-section-wp">
    <div class="section-up">
        <div class="menu-name">
        	<a href="<%= business_dashboard_index_path %>">What we give to the business</a>
        </div>
        <div>
            <i class="fa fa-arrow-up fa-3x"></i>
        </div>
    </div>
    <div class="inline-wrapper">
        <div class="section-left">
            <span class="menu-name">
            	<a href="<%= about_us_dashboard_index_path %>">About Us</a>
            </span>
            <span><i class="fa fa-arrow-left fa-3x"></i></span>
        </div>
        <div class="round-circle">
            <span>
            	Commbinder
            </span>
        </div>
        <div class="section-right">
            <span><i class="fa fa-arrow-right fa-3x"></i></span>
            <span class="menu-name">
            	<a href="<%= public_dashboard_index_path %>">What we give to the public</a>
            </span>
        </div>
    </div>
    <div class="clearfix"></div>					
    <div class="section-down">
        <div>
            <i class="fa fa-arrow-down fa-3x"></i>
        </div>
        <div class="menu-name">
            <span>
            	<a href="<%= contact_us_dashboard_index_path %>">How to contact us</a>
            </span>
        </div>
    </div>
</div>