<%content_for :heading, "Forgot your password?"%>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<%error = devise_errors %>

<div class="form-item">
	<%= f.label :email %>
	<%= f.email_field :email, :autofocus => true, :class => "form-control" %>
	<% if error && error[:email].present? %>
		<div class="text-danger"><%=error[:email][0]%> </div>
	<%end%>
</div>

<div class="form-item">
	<%= f.submit "Reset password", :class => "btn btn-info" %>
</div>
<% end %>
