<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h4>

      	<ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
      <label>Give this video a title</label>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-item">
    <label>What is this video about?</label>
    <%= f.text_area :description, :class => "form-control", :rows => 4 %>
  </div>
	<div class="form-item">
		<label>Paste youtube link</label>
		<%=f.url_field :url, :class => "form-control"%>
	</div>
    
    <div class="form-item">
        <label>Does this event have a facebook page?</label>
        <%=f.url_field :facebook_url, :class => "form-control"%>
    </div>
  
    <div class="form-item">
        <label>Does this event have a twitter page?</label>
        <%=f.url_field :twitter_url, :class => "form-control"%>
    </div>
    
	<div class="form-item">
		<label>Would you like people to search this on search engine?</label>
		<%=f.check_box :is_searchable%> Yes
	</div>

  <div class="actions">
    <%= f.submit(:class => "btn btn-custom") %>
  </div>
<% end %>
