<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h4>

      	<ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-item">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control", :rows => 8 %>
  </div>
	<div class="form-item">
		<%=f.label :youtube_url%>
		<%=f.url_field :url, :class => "form-control"%>
	</div>
	
	<div class="form-item">
		<label>Would you like people to search this on search engine?</label>
		<%=f.check_box :is_searchable%> Yes
	</div>

  <div class="actions">
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>
