<div class="col-md-3 col-sm-6 video-block">
    <div class="content-block">
        <%=render "layouts/person", :person => row.user %> 
        <small class="created-info">
            <%=row.is_suggestor ? "suggested" : "created"%> this event <%= get_created_at(Time.now - row.created_at)%>
        </small>
        <div class="block-heading">
            <a href="<%=event_path(row)%>">
                <%= truncate(row.title, :length => @title_length)%>
            </a>
        </div>
        <a href="<%=event_path(row)%>">
            <%=image_tag row.image.url(:thumb), :class => "block-img"%>
        </a>
        <small>
                Event at : <%=row.event_date.localtime.to_datetime.strftime("%d %B %Y") if row.event_date.present? %><br>
                <%=render "contents/url_links", :row => row%>
        </small>
        <div class="votable-wrapp" id="votable-wrapp-<%= row.id %>">
            <%= render partial: "contents/votable_wrapp", locals: { content: row } %>
        </div>
    </div>		
</div>
