<div class="col-md-3 col-sm-6 video-block">
    <div class="content-block">
        <%=render "layouts/person", :person => row.user %> 
        <span class="created-info"><%=row.is_suggestor ? "suggested" : "created"%> this event on <%created_at = row.created_at.localtime.to_datetime%>
        <%=created_at.strftime("%d %B %Y") %> at <%=created_at.strftime("%I:%M %p")%>. </span>
        <%= truncate(row.title, :length => @title_length)%><br>
        <%= link_to 'Read full story', row, :style => "font-weight:bold;" %>
        <a href="<%=event_path(row)%>"><%=image_tag row.image.url(:thumb), :class => "thumbnail block-img"%></a>
        <small>
                Event at : <%=row.event_date.localtime.to_datetime.strftime("%d %B %Y") if row.event_date.present? %><br>
                <%=render "contents/url_links", :row => row%>
        </small>
        <div class="votable-wrapp" id="votable-wrapp-<%= row.id %>">
            <%= render partial: "contents/votable_wrapp", locals: { content: row } %>
        </div>
    </div>		
</div>
