<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@event.errors.count, "error") %> prohibited this video from being saved:</h4>

      	<ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-item">
      <label>Upload an image suitable for this event</label>
	  <%=f.file_field :image%>
  </div>
  
  <div class="form-item">
      <label>Tag this image</label>
      <%=f.text_field :image_description, :class => "form-control"%>
  </div>

  <div class="form-item">
      <label>What is this event?</label>
      <%= f.text_field :title, :class => "form-control" %>
  </div>
  
  <div class="form-item">
      <label>What date does this event start?</label>
      <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
              <%=f.text_field :event_date, :class => "form-control", "data-format" => "YYYY-MM-DD hh:mm"%><span class="input-group-addon popover-btn" data-content="Click here to choose date and time"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
      </div>
  </div>
  
  <div class="form-item">
      <label>What time does this event start?</label>
      <%=f.text_field :start_time, :class => "form-control"%>
  </div>
  
  <div class="form-item">
      <label>What time does this event finish?</label>
      <%=f.text_field :end_time, :class => "form-control"%>
  </div>

  <div class="form-item">
      <label>Describe more about this event</label>
    <%= f.text_area :description, :class => "form-control", :rows => 4 %>
  </div>
           
  <div class="form-item">
      <label>Does this event have a location?</label>
     <%=f.text_field :address, :class => "form-control", :placeholder => "Where is it happening?"%>
  </div>    
  
  <div class="form-item">
      <label>Are you suggesting this event or creator?</label>
      <div class="checkbox">
          Suggesting an event? <%=f.radio_button :is_suggestor, 'true'%>
      </div>
      <div class="checkbox">
          Creator of an event? <%=f.radio_button :is_suggestor, 'false'%>
      </div>      
  </div>
  <div class="form-item">
      <label>Attach links</label>
      <div class="input-group">
          <span class="input-group-addon">W&nbsp;</span>
          <%=f.url_field :url, :class => "form-control", :placeholder => "Paste Website"%>
      </div>
  </div>
  <div class="form-item">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-facebook-square fa-lg"></i></span>
          <%=f.url_field :facebook_url, :class => "form-control", :placeholder=>"Paste Facebook"%>
      </div>
  </div>
  <div class="form-item">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-twitter-square fa-lg"></i></span>
          <%=f.url_field :twitter_url, :class => "form-control", :placeholder => "Paste Twitter"%>
      </div>
  </div>
  <div class="form-item">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-google-plus-square fa-lg"></i></span>
          <%=f.url_field :google_plus_url, :class => "form-control", :placeholder => "Paste Google+"%>
      </div>
  </div>

  <div class="form-item">
      <label>Choose category</label>
      <% Event::CATEGORIES.each do |category| %>
        <br><%= check_box_tag "event[category][]", category, @event.category_list.include?(category.downcase) %>
        <%=category%>
      <% end %>
  </div>
  
  <div class="form-item">
      <label>Would you like people to search this on search engine?</label>
	  <%=f.check_box :is_searchable%> Yes
  </div>

  <div class="actions">
    <%= f.submit(:class => "btn btn-custom") %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
<% end %>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
