<%= form_for(@news) do |f| %>
    <% if @news.errors.any? %>
        <div class="alert alert-danger">
            <h4><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h4>
            <ul>
                <% @news.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="form-item">
            <label>Upload an image that best suits the story</label>
            <%=f.file_field :image%>
        </div>
       
        <div class="form-item">
            <label>Tag this image</label>
            <%=f.text_field :image_description, :class => "form-control"%>
        </div>
        
        <div class="form-item">
            <%= f.label :title %>
            <%= f.text_field :title, :class => "form-control" %>
        </div>
        <div class="form-item">
            <label>Describe in detail what this newsfeed is about</label>
            <%= f.text_area :description, :class => "form-control", :rows => 4 %>
        </div>

        <div class="form-item">
            <label>Does this newsfeed have a website?</label>
            <%=f.url_field :url, :class => "form-control"%>
        </div>
        
        <div class="form-item">
            <label>Does this newsfeed have a facebook page?</label>
            <%=f.url_field :facebook_url, :class => "form-control"%>
        </div>
        
        <div class="form-item">
            <label>Does this newsfeed have a twitter page?</label>
            <%=f.url_field :twitter_url, :class => "form-control"%>
        </div>
        
        <div class="form-item">
            <label>Would you like people to search this on search engine?</label>
            <%=f.check_box :is_searchable%> Yes
        </div>

        <div class="actions">
            <%= f.submit(:class => "btn btn-custom") %>
        </div>
<% end %>
