<div class="col-md-3 col-sm-6 news-block">
	<div class="panel panel-primary">
		<div class="panel-heading"><%= truncate(row.title, :length => @title_length)%></div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-4">
					<%=image_tag row.image.url(:thumb), :class => "thumbnail news-icon"%>
				</div>
				<div class="col-xs-8 text-justify news-description">
					<%= truncate(row.description, :length => @desc_length)%> <%= link_to 'Read full story', row, :style => "font-weight:bold;" %>
				</div>	
			</div>
			<div class="votable-wrapp" id="votable-wrapp-<%= row.id %>">
				<%= render partial: "contents/votable_wrapp", locals: { content: row } %>
			</div>
		</div>		
	</div>
</div>