<div class="col-md-3 col-sm-6 video-block">
    <div class="content-block">
        <%= render "contents/created_block", :row => row%>
        <div class="block-heading">
            <a href="<%=news_path(row)%>">
                <%= truncate(row.title, :length => @title_length)%>
            </a>
        </div>
        <div class="block-img-wrapp">
            <a href="<%=news_path(row)%>">
                <%=image_tag row.image.url(:thumb), :class => "block-img"%>
            </a>
        </div>
        <div>
            <% no_of_news = row.user.news.size%>
            <% if no_of_news > 1 && params[:query].blank?%>
                <%=link_to "#{pluralize((no_of_news - 1), 'more news')} from #{row.user.full_name}".html_safe, news_path(row) %>
            <% end %>
        </div>
        <div class="votable-wrapp" id="votable-wrapp-<%= row.id %>">
            <%= render partial: "contents/votable_wrapp", locals: { content: row } %>
        </div>
    </div>
</div>