<div class="show-block-wrapp" style="padding:5px 9%">
    <div class="show-block" style="padding:0 15px">
        <div class="row">
            <div class="col-md-7">
                <%=image_tag news.image.url(:medium), :class => "responsive full-image"%>
                <div class="image-description">
                    <%=news.image_description%>
                </div>
            </div>
            <div class="col-md-5 text-left">
                <%=render "contents/created_block", :row => news%>
                <div class="show-desc-block">
                    <%= news.title %>
                    <%= news.description.html_safe %>
                    <%if news.url.present?%>
                    <%=link_to "Detail news", news_detail_path(news)%>
                    <%end%>
                    <div class="full-block votable-wrapp" id="votable-wrapp-<%= news.id %>">
                        <%= render partial: "contents/votable_wrapp", locals: { content: news } %>
                    </div>
                    <%=render "comments/comment_block", :row => news%>
                    <%if current_user == news.user%>
                    <div class="control-group clearfix action-wrapp">
                        <div class="pull-right form-item">
                            <%= link_to '&nbsp;Edit'.html_safe, edit_news_path(news), :class => "fa fa-pencil modal-link" %>
                        </div>
                        <div class="pull-right form-item">
                            <%= link_to '&nbsp;Delete'.html_safe, news, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o" %>
                        </div>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>