<div class="btn btn-block btn-large btn-default">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="control-group clearfix">
				<div class="pull-left">
					<h5>Headlines</h5>
				</div>
				<div class="pull-right">
				<h5>	<%=link_to "Create your own news", new_news_path%></h5>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="news">
	<% @news.each_with_index do |row, index| %>
	<%if (index+1)%2 == 0%>
	<div class="row news-block">
		<%end %>
		<div class="col-md-6">
			<div class="panel panel-success ">
				<div class="panel-heading"><%= truncate(row.title, :length => 80)%></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-4">
							<%=image_tag row.image.url(:thumb), :class => "thumbnail news-icon"%>
						</div>
						<div class="col-xs-8">
							<%= truncate(row.description, :length => @desc_length)%> <%= link_to 'Read full story', row, :style => "font-weight:bold;" %>
								<div class="votable-wrapp" id="votable-wrapp-<%= row.id %>">
									<%= render partial: "contents/votable_wrapp", locals: { content: row } %>
								</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<%if (index+1)%2==0%>
	</div>
	<%end%>
	<% end %>
</div>
