<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @news.title %></h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-5">
						<%=image_tag @news.image.url(:medium), :class => "responsive full-image"%>
						<div class="image-description">
						<%=@news.image_description%>
					</div>
					</div>
					<div class="col-md-7 text-justify">
						<%= @news.description.html_safe %>
						<%if @news.url.present?%>
						<%=link_to "Detail news", news_detail_path(@news)%>
						<%end%>
					</div>
				</div>
			</div>
			<%if current_user == @news.user%>
			<div class="panel-footer">
				<div class="control-group clearfix">
					<div class="pull-left">
						<%= link_to 'Edit', edit_news_path(@news), :class => "btn btn-info btn-sm" %>
					</div>
					<div class="pull-right">
						<%= link_to 'Delete', @news, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
					</div>
				</div>
			</div>
			<%end%>

			<div class="votable-wrapp" id="votable-wrapp-<%= @news.id %>">
				<%= render partial: "contents/votable_wrapp", locals: { content: @news } %>
			</div>
			
			<div id="comment-wrapp">
				<% if user_signed_in? %>
				<div class="comments">
					<%= form_for [@news, @news.comments.new(user_id: current_user.id)] do |f| %>
					<div class="input-group">
						<span class="input-group-btn">
							<%=image_tag(current_user.avatar.url(:thumb), :class => "mini-icon")%>
						</span>
							
						<%= f.hidden_field :commentable_id %>
						<%= f.hidden_field :commentable_type %>
						<%= f.hidden_field :user_id %>
						<%= f.text_field :description, :class => "form-control" %>
						<span class="input-group-btn">
							<%= f.submit "Comment", :class => "btn btn-default btn-comment" %>
						</span>
					</div>
					<% end %>
				</div>
				<% end %>
				
				
				<%@news.comments.each do |comment|%>
				<% if comment.persisted? %>
				<div class="comments">
					<div class="control-group clearfix">
						<div class="pull-left">
							<%=render "layouts/person", :person => comment.user%>
						</div>
						<div class="pull-left" style="margin:12px;">
							<%=comment.description%> &nbsp;
							<%if current_user == comment.user%>
							<%=link_to '<span class="fa fa-times text-danger"></span>'.html_safe, news_comment_path(@news, comment), :method => :delete%>
							<%end%>
						</div>
					</div>
				</div>
				<%end%>
				<%end%>
				
			</div>
		</div>
	</div>
</div>