<div class="col-md-3 col-sm-6 video-block">
    <div class="content-block">
        <%= render "contents/created_block", :row => row%>
        <div class="block-heading">
            <a href="<%=deal_path(row)%>">
                <%= truncate(row.title, :length => @title_length)%>
            </a>
        </div>
        
        <div class="block-item">
            <% if row.address.present? %>
                <a  href="http://maps.google.com?q=<%=row.address%>"><%=row.address%></a>
            <% end %>
        </div>    
        
        
        <% if row.start_time.present? || row.end_time.present?%>
            <div class="block-item">
                <%=row.start_time if row.start_time.present? %> to <%=row.end_time if row.end_time.present?%>
            </div>
        <% end %>
        <div class="block-item control-group clearfix">
            <div class="pull-left">
                <% if row.old_price.present? || row.new_price.present? %>
                    <%="$#{row.old_price}" %> now <%="$#{row.new_price}"%> 
                <% end %>                
            </div>
            <div class="pull-right" style="padding-right:30px;">
                <% if row.user == current_user%>
                    <%= link_to '&nbsp;Edit'.html_safe, edit_deal_path(row), :class => "fa fa-pencil modal-link" %>
                    <% end %>
            </div>
        </div>
        <div class="block-img-wrapp">
            <a href="<%=deal_path(row)%>">
                <%=image_tag row.image.url(:thumb), :class => "block-img"%>
            </a>
        </div>
        <div class="block-item">
            <%=render "contents/share_link", :row => row%>
        </div>
        <small>
            
            <div>
                <% no_deals = row.user.deals.size%>
                <% if no_deals > 1 && params[:query].blank?%>
                    <%=link_to "#{pluralize((no_deals - 1), 'more deal')} from #{row.user.full_name}".html_safe, deal_path(row) %>
                <% end %>
            </div>
        </small>
        <div class="votable-wrapp" id="votable-wrapp-<%= row.id %>">
            <%= render partial: "contents/votable_wrapp", locals: { content: row } %>
            
        </div>
    </div>		
</div>
