<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h4>

      	<ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @deal.persisted?%>
      <div class="form-item">
          <%=image_tag @deal.image.url(:thumb) %>
      </div>
  <% end %>
  <div class="form-item">
      <label>Upload an image suitable for this deal</label>
      <%=f.file_field :image%>
  </div>
      
  <div class="form-item">
      <label>Tag this image</label>
      <%=f.text_field :image_description, :class => "form-control"%>
  </div>
      
  <div class="form-item">
      <label>Title for this deal?</label>
      <%= f.text_field :title, :class => "form-control" %>
  </div>
  
  <div class="form-item">
      <label>Address for this deal?</label>
     <%=f.text_field :address, :class => "form-control", :placeholder => ""%>
  </div> 
  <div class="form-item">
      <div class="row">
          <div class="col-sm-6">
              <label>What time does this deal start?</label>
              <%=f.text_field :start_time, :class => "form-control", :placeholder => "7 AM"%>
          </div>
          <div class="col-sm-6">
              <label>What time does this deal finish?</label>
              <%=f.text_field :end_time, :class => "form-control", :placeholder => "10 PM"%>
          </div>
      </div>
  </div>
  <div class="form-item">
      <div class="row">
          <div class="col-sm-6">
              <label>What was the old price?</label>
              <%= f.text_field :old_price, :class => "form-control" %>
          </div>
          <div class="col-sm-6">
              <label>What is the new price?</label>
              <%= f.text_field :new_price, :class => "form-control" %>
          </div>
      </div>
  </div>
  
  <div class="form-item">
      <label>Describe more about this deal(optional)</label>
    <%= f.text_area :description, :class => "form-control", :rows => 4 %>
  </div>
           
  <div class="form-item">
      <label>Attach links</label>
      <div class="input-group">
          <span class="input-group-addon">W&nbsp;</span>
          <%=f.url_field :url, :class => "form-control", :placeholder => "Paste Website"%>
      </div>
  </div>
  <div class="form-item">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-facebook-square fa-lg"></i></span>
          <%=f.url_field :facebook_url, :class => "form-control", :placeholder=>"Paste Facebook"%>
      </div>
  </div>
  <div class="form-item">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-twitter-square fa-lg"></i></span>
          <%=f.url_field :twitter_url, :class => "form-control", :placeholder => "Paste Twitter"%>
      </div>
  </div>
  <div class="form-item">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-google-plus-square fa-lg"></i></span>
          <%=f.url_field :google_plus_url, :class => "form-control", :placeholder => "Paste Google+"%>
      </div>
  </div>
  
  <div class="form-item">
      <label>Are you suggesting this deal or creator?</label>
      <div class="checkbox">
          Suggesting a deal? <%=f.radio_button :is_suggestor, 'suggestor'%>
      </div>
      <div class="checkbox">
          Creator of a deal? <%=f.radio_button :is_suggestor, 'creator'%>
      </div> 
  </div>

  <div class="form-item">
      <label>Would you like people to search this on search engine?</label>
	  <%=f.check_box :is_searchable%> Yes
  </div>
  
  <div class="actions">
    <%= f.submit(:class => "btn btn-custom", :value => "Upload") %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
<% end %>
