<div class="show-block-wrapp" style="padding:5px 9%">
    <div class="show-block" style="padding:0 15px">
        <div class="row">
            <div class="col-md-7">
                <%=image_tag deal.image.url(:medium), :class => "responsive full-image"%>
                <div class="image-description">
                    <%=deal.image_description%>
                </div>
                 <div class="row-desc">
                     <%=deal.description%>
                 </div>
                <div style="padding:10px;">
                    <%= render_shareable :buttons=> ['twitter', 'facebook', 'linkedin', 'google_plus', 'pinterest'], :url => deal_path(deal) %>
                </div>
            </div>
            <div class="col-md-5 text-left">
                <%=render "contents/created_block", :row => deal%>
                <div class="show-desc-block">
                    <div>
                        <div><strong><%= deal.title %></strong></div>
                        <strong>Start at:  </strong> <%=deal.start_time%><br>
                        <strong>End at: </strong> <%=deal.end_time%><br>
                        <strong>Original price:  </strong>$<%=deal.old_price%><br>
                        <strong>New price: </strong>$<%=deal.new_price%><br>
                        <strong>Location: </strong> 
                        <a  href="http://maps.google.com?q=<%=deal.address%>"><%=deal.address%></a><br>
                        <%=render "contents/url_links", :row => deal%>
                    </div>
                    <div class="full-block votable-wrapp" id="votable-wrapp-<%= deal.id %>">
                        <%= render partial: "contents/votable_wrapp", locals: { content: deal } %>
                    </div>
                    <%=render "comments/comment_block", :row => deal%>
                    <%if current_user == deal.user%>
                        <div class="control-group clearfix action-wrapp">
                            <div class="pull-right form-item">
                                <%= link_to '&nbsp;Edit'.html_safe, edit_deal_path(deal), :class => "fa fa-pencil modal-link" %>
                            </div>
                            <div class="pull-right form-item">
                                <%= link_to '&nbsp;Delete'.html_safe, deal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o" %>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>