<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @deal.title %></h3>
			</div>
			<div class="panel-body" style="padding:0 15px">
                <div class="control-group clearfix">
                    <div class="pull-right">
                        <small>created this deal <%= time_ago_in_words(@deal.created_at)%> ago by <%=@deal.user.full_name%>.</small>
                    </div>
                </div>
				<div class="row">
				    <div class="col-md-7">
						<%=image_tag @deal.image.url(:medium), :class => "responsive full-image"%>
						<div class="image-description">
						    <%=@deal.image_description%>
					    </div>
					</div>
					<div class="col-md-5 text-justify">
						<%= @deal.description.html_safe %>
						<div>
						    <strong>Start at:  </strong> <%=@deal.start_time%><br>
						    <strong>End at: </strong> <%=@deal.end_time%><br>
						    <strong>Original price:  </strong>$<%=@deal.old_price%><br>
						    <strong>New price: </strong>$<%=@deal.new_price%><br>
						    <strong>Location: </strong> 
						        <a  href="http://maps.google.com?q=<%=@deal.address%>"><%=@deal.address%></a><br>
						        <%=render "contents/url_links", :row => @deal%>
                                <%= render_shareable :buttons=> ['twitter', 'facebook', 'linkedin', 'google_plus', 'pinterest'], :url => deal_path(@deal) %>
						</div>
            			<div class="full-block votable-wrapp" id="votable-wrapp-<%= @deal.id %>">
            				<%= render partial: "contents/votable_wrapp", locals: { content: @deal } %>
            			</div>
                        <%=render "comments/comment_block", :row => @deal%>
            			<%if current_user == @deal.user%>
            				<div class="control-group clearfix">
            					<div class="pull-right form-item">
            						<%= link_to '&nbsp;Edit'.html_safe, edit_deal_path(@deal), :class => "fa fa-pencil" %>
            					</div>
            					<div class="pull-right form-item">
            						<%= link_to '&nbsp;Delete'.html_safe, @deal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o" %>
            					</div>
            				</div>
            			<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>