<% content_for :heading, "Sign in" %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="form-item">
	<%= f.label :email %>
	<%= f.email_field :email, :autofocus => true, :class => "form-control" %>
</div>

<div class="form-item">
<%= f.label :password %>
<%= f.password_field :password, :class => "form-control" %>
</div>

<% if devise_mapping.rememberable? -%>
<div class="form-item">
<%= f.check_box :remember_me %> Remember me
</div>
<% end -%>

<div class="form-item">
<%= f.submit "Sign in", :class => "btn btn-info" %>
</div>
<% end %>
