<div class="col-md-3 col-sm-6 video-block">
    <div class="content-block">
        <%=render "layouts/person", :person => row.user %> 
        <small class="created-info">
            uploaded this photo <%= time_ago_in_words(row.created_at)%> ago. 
        </small>
        <div class="block-heading">
            <a href="<%=upload_path(row)%>">
                <%= truncate(row.photo_description, :length => @title_length)%>
            </a>
        </div>
        <div class="block-img-wrapp">
            <a href="<%=upload_path(row)%>">
                <%=image_tag row.photo.url(:thumb), :class => "block-img"%>
            </a>
        </div>
        <div class="votable-wrapp" id="votable-wrapp-<%= row.id %>">
            <%= render partial: "contents/votable_wrapp", locals: { content: row } %>
        </div>
    </div>		
</div>
