<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=@upload.photo_description.nil? ? "Photo" : @upload.photo_description%></h3>
			</div>
			<div class="panel-body">
				<%=image_tag @upload.photo.url, :class => "img-responsive"%>
			</div>

			<%if current_user == @upload.user%>
				<div class="panel-footer">
					<div class="control-group clearfix">
						<div class="pull-right">
							<%= link_to 'Delete', @upload, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
						</div>
					</div>
				</div>
			<%end%>

			<div class="votable-wrapp full-block" id="votable-wrapp-<%= @upload.id %>">
				<%= render partial: "contents/votable_wrapp", locals: { content: @upload } %>
			</div>

			<div id="comment-wrapp">
				<% if user_signed_in? %>
					<div class="comments">
						<%= form_for [@upload, @upload.comments.new(user_id: current_user.id)] do |f| %>
							<div class="input-group">
								<span class="input-group-btn">
									<%=image_tag(current_user.avatar.url(:thumb), :class => "mini-icon")%>
								</span>
								<%= f.hidden_field :commentable_id %>
								<%= f.hidden_field :commentable_type %>
								<%= f.hidden_field :user_id %>
								<%= f.text_field :description, :class => "form-control" %>
								<span class="input-group-btn">
									<%= f.submit "Comment", :class => "btn btn-default btn-comment" %>
								</span>
							</div>
						<% end %>
					</div>
				<% end %>
				<%@upload.comments.each do |comment|%>
					<% if comment.persisted? %>
						<div class="comments">
							<div class="control-group clearfix">
								<div class="pull-left">
									<%=render "layouts/person", :person => comment.user%>
								</div>
								<div class="pull-left" style="margin:12px;">
									<%=comment.description%> &nbsp;
									<%if current_user == comment.user%>
										<%=link_to '<span class="fa fa-times text-danger"></span>'.html_safe, upload_comment_path(@upload, comment), :method => :delete%>
									<%end%>
								</div>
							</div>
						</div>
					<%end%>
				<%end%>
			</div>

		</div>
	</div>
</div>