<style>
.status-bar{
    font-size:16px;
    width:330px;
    margin:0px auto;
    margin-bottom:10px;
}
.status-description{
    background:#377CED; 
    color:#fff;
    padding:0px 10px;
}
.status-num{
    color:#444;
}
.status-heading{
    font-weight:bold;
    text-align:center;
}
.other-menu{
    padding:38px 0px 0px 30px;
}

.other-menu a{
    color:#4D90FE;  
}
.other-list a{
    padding:0px 16px;    
    display:block;
    border-right:1px solid #4D90FE;
    float:left;
}
.other-list:last-child{
    border-right:none;
}

.right-menu{
    padding-top:24px;
}
</style>
<div class="row">
    <div class="col-sm-3">
        <div class="other-menu control-group clearfix">
            <span class="other-list">
                <%=link_to "<span class='fa fa-home fa-2x'></span>".html_safe, root_path, "data-content" => "Go to homepage", :class => "popover-btn"%>
            </span>
            <span class="other-list">
                <%=link_to '<span class="fa fa-search fa-2x"></span>'.html_safe, root_path, "data-content" => "Search", :class => "popover-btn"%>
            </span>
            <%controller =  params[:controller]%>
            <% if controller == "news" || controller == "deals" || controller == "videos" || controller == "events" || controller == "uploads"%>
                <span class="other-list"> 
                    <% home_url, new_url, new_message = get_links_with_msg(controller)%>
                    <% modal_class = controller == "uploads" ? "" : "modal-link"%>
                    <%=link_to '<span class="fa fa-camera fa-2x"></span>'.html_safe, new_url, "data-content" => new_message, :class => "popover-btn #{modal_class}" %>

                </span>
                <span class="other-list"> 
                    <%=link_to '<span class="fa fa-th fa-2x"></span>'.html_safe, home_url, "data-content" => "Category search", :class => "popover-btn"%>
                </span>
            <% end %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="status-bar">
            <div class="status-heading">Currently</div>
            <div class="control-group status-description clearfix">
                <div class="pull-left">
                    <span class="status-num"><%=@no_views%></span> viewing <br>
                    <span class="status-num">1680000</span> sharing
                </div>
                <div class="pull-right">
                    <span class="status-num"><%=@no_uploads%></span> uploads <br>
                    <span class="status-num"><%=@no_comments%></span> comments
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="right-menu control-group clearfix">
            <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-list fa-2x popover-btn home-icon" data-content="Click here to see all the menu options"></i>
            </button>
            <ul class="dropdown-menu home-menu">
                <%=render "layouts/navbar"%>
            </ul>
        </div>
    </div>
</div>
<%=render "contents/modal_block"%>