<!DOCTYPE html>
<html>
<head>
	<%=render "layouts/head"%>
</head>
<body>
	<div class="containers">
		
		<% if notice %>
		<div class="alert alert-success flash-msg"><%= notice %></div>
		<% end %>
		<% if alert %>
		<div class="alert alert-danger flash-msg"><%= alert %></div>
		<% end %>
		<%=render "layouts/searchbox"%>
		<%= yield %>
	</div>
</body>
</html>
