<!DOCTYPE html>
<html>
<head>
	<%=render "layouts/head"%>
    <style>
        body{background:#fff;background-image:none;}
        #datetime-wrapp{height:74px;}
    </style>
</head>
<body>
		<div class="containers">
		<%= render partial: "shared/user_notice" %>
    <% homepage = params[:controller] == "search" && params[:action] == "index" %>
    <% if homepage %>
        <div class="btn-wrapper">
          <a href="<%=new_user_session_path %>">Sign In</a>
          <a href="<%= new_user_registration_path %>">Sign Up</a>
        </div>
    <% else %>
      <% if user_signed_in? %>
          <!-- logo and name goes here -->
      <% end %>
    <% end %>
    
        <div class="row" id="search-engine">
          <div class="col-sm-12">
            <div id="datetime-wrapp">
                <h2 class="text-center"><span id="time"></span></h2>
        	    <div class="text-center date-wrapp"><span  id="date"></span></div>
        	</div>
            <% if homepage %>
                <%=render "layouts/searchbox"%>
            <% else %>
                <%= render "layouts/statusbar" unless params[:controller]=="local_ads"%>
            <% end %>
            </div>
        </div>
		<%= yield %>
	</div>	
</body>
</html>
