<!DOCTYPE html>
<html>
<head>
	<title>Pagekonect</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<style type="text/css">
	body{
		<%if user_signed_in? %>
			background:url("<%=current_user.banner_image.url%>") #fff repeat;
		<%else%>
			background:url('/assets/bg3.png') #fff repeat; 
		<%end%>
	}
	</style>
</head>
<body>
	<div class="containers">
		<% if notice %>
		<div class="alert alert-success"><%= notice %></div>
		<% end %>
		<% if alert %>
		<div class="alert alert-danger"><%= alert %></div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
