<!DOCTYPE html>
<html>
<head>
	<%=render "layouts/head"%>
</head>
<body>
		<%= render partial: "shared/user_notice" %>
		<%= render partial: "shared/navbar" %>
		<div class="row" id="user-auth">
			<%if params[:controller] == "profiles"%>
				<div class="col-md-1 col-md-10 col-md-offset-1">
			<%else%>
			<div class="col-md-6 col-md-offset-3">
				<%end%>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-user"></i> <%=yield(:heading)%></h3>
					</div>
					<div class="panel-body">
						<%=yield%>
					</div>
					<div class="panel-footer">
						<%if params[:controller] == "profiles" || (params[:controller] == "registrations" && params[:action] == "edit")%>
						need to replace content
						<%else%>
							<%= render "devise/shared/links" %>
					<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
