<!DOCTYPE html>
<html>
<head>
	<%=render "layouts/head"%>
    <style type="text/css">
    body{
    	<%if user_signed_in? && current_user.banner_image.url.present? %>
    		background:url("<%=current_user.banner_image.url%>") #fff repeat;
    	<%end%>
    }
    </style>
    <%=yield(:head)%>
</head>
<body>
	<div class="container">
		<div style="padding-top:60px;">
			<%= render partial: "shared/user_notice" %>
		</div>
	</div>
		<%= render partial: "shared/navbar" %>
		<div class="row" id="user-auth">
			<%if params[:controller] == "profiles"%>
				<div class="col-md-12">
			<%else%>
			<div class="col-md-6 col-md-offset-3">
				<%end%>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-user"></i> <%=yield(:heading)%></h3>
					</div>
					<div class="panel-body">
						<%=yield%>
					</div>
					<%if !(params[:controller] == "profiles" || (params[:controller] == "registrations" && params[:action] == "edit"))%>
                        <div class="panel-footer">
                            <%= render "devise/shared/links" %>
					    </div>
                    <%end%>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
